.container {
  display: flex;
  flex-direction: column;
  .selectedValue {
    width: fit-content;
    border-radius: 4px;
    margin: 1rem 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 0.5rem;
    cursor: pointer;
  }

  .placeholder {
    width: fit-content;
    border-radius: 4px;
    margin: 1rem 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 0.5rem;
    cursor: pointer;
    color: #909497;
  }

  .dropdownOptions {
    display: flex;
    border-radius: 4px;
    width: max-content;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 0.5rem;
    gap: 5px;

    span {
      background: #f5f5f5;
      border-radius: 4px;
      padding: 5px;
      cursor: pointer;
    }
  }
}
