.container {
  height: 100vh;
  display: flex;
  .editorSection {
    margin: 1rem;

    .buttons {
      display: flex;
      gap: 10px;
      button {
        margin-top: 1rem;
        background: #1eae98;
        border: none;
        color: #fff;
        padding: 0.8rem 1rem;
        border-radius: 4px;
        font-weight: 600;
        height: 100%;
        width: 7rem;
        cursor: pointer;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }

      .clearButton {
        background: #e74c3c;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }
    }
  }
}
