.container {
  height: 100vh;
  display: flex;
  .editorSection {
    margin: 1rem;

    .buttons {
      display: flex;
      gap: 10px;
      button {
        margin-top: 1rem;
        background: #2ecc71;
        border: none;
        color: #fff;
        padding: 0.8rem 1rem;
        border-radius: 4px;
        font-weight: 600;
        height: 100%;
        width: 7rem;
        cursor: pointer;
      }

      .clearButton {
        background: #e74c3c;
      }
    }
  }
}
